//
// The resource header (defines the icon).
//
#include "resource.h"

//
// Version information requires inclusion of either <windows.h> or <winver.h>
//
#include <winver.h>

// -------------------------------
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_FLARE_APP_ICON        ICON                    "../distribution/RandomDungeon.ico"

// -------------------------------
//
// Version information
//

VS_VERSION_INFO VERSIONINFO
  FILEVERSION    1,0,0,0
  PRODUCTVERSION 1,15,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "Random Dungeon - built on the Flare engine\0"
            VALUE "FileDescription", "Random Dungeon\0"
            VALUE "FileVersion", "1, 0, 0\0"
            VALUE "InternalName", "RandomDungeon\0"
            VALUE "LegalCopyright", "RedByte; Flare engine by Clint Bellanger and Contributors (GPL-3)\0"
            VALUE "OriginalFilename", "RandomDungeon.exe\0"
            VALUE "ProductName", "Random Dungeon\0"
            VALUE "ProductVersion", "1, 15, 0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
		VALUE "Translation", 0x000, 1200
    END
END
